<div id="four-square">
  <div id="column1" class="columnsquare">
    {{ content.column1 }}
  </div>
  <div id="column2" class="columnsquare">
    {{ content.column2 }}
  </div>
  <div id="column3" class="columnsquare">
    {{ content.column3 }}
  </div>
  <div id="column4" class="columnsquare">
    {{ content.column4 }}
  </div>
</div>
